<%= form_with model: shop do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% shop.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :owner %><br>
    <%= form.text_area :owner %><br>
    <% shop.errors.full_messages_for(:owner).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
