<h1>Finance Control</h1>

<%= form_with url: "/handle-upload", multipart: true do |form| %>
  <%= form.file_field :finance %>
  <%= form.submit %>
<% end %>

<% if !@shops.empty? %>
  <h2>Shops</h2>
  <ul>
    <% @shops.each do |shop| %>
      <li>
        <%= link_to shop.name, shop %>
      </li>
    <% end %>
  </ul>
<% end %>
<br>
<%= link_to "Adicionar Loja", new_shop_path %>
