<h1><%= @shop.name %></h1>

<h2><%= @shop.owner %></h2>

<ul>
  <li><%= link_to "Editar", edit_shop_path(@shop) %></li>
  <li><%= link_to "Deletar", shop_path(@shop),
      method: :delete,
      data: { confirm: "Certeza?" } %></li>
</ul>

<h3>Transactions</h3>
<%= render 'transactions/list' %>

<h3>Adicionar Operação</h3>
<%= render 'transactions/form' %>
