<table>
  <thead>
    <tr>
      <td>Tipo</td>
      <td>Data</td>
      <td>Valor</td>
      <td>CPF</td>
      <td>Cartão</td>
      <td>Hora</td>
      <td>Ação</td>
    </tr>
  </thead>
  <tbody>
    <% @shop.transactions.each do |t| %>
    <tr>
      <td><%= t.kind %></td>
      <td><%= t.date %></td>
      <td><%= number_to_currency(t.value, unit: 'R$') %></td>
      <td><%= t.cpf %></td>
      <td><%= t.card %></td>
      <td><%= t.time %></td>
      <td><%= link_to 'Deletar', [t.shop, t],
        method: :delete,
        data: { confirm: "Certeza?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
